$green: #27ae60;
$yellow: #f1c40f;
$red: #e74c3c;
$blue: #2980b9;
$grey: #454c4d;
$btn-gradient: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
$checkbox-inactive: rgba(232, 235, 236, 0.2);
$pagination-start-end: rgb(202, 207, 210);
$pagination-inactive: rgb(231, 234, 235);
$check-url: url(../img/check-mark-6-24.png) center center / 16px 16px no-repeat;
$dark-grey: #454c4d;  
$border-tab: 1px solid rgba(0, 0, 0, 0.2);